<h1>Sign In User</h1>

<form action="/userLogin" method="post">
   
    <input type="email" name="email" placeholder="Email id" required>
    <input type="password" name="password" placeholder="Your Password" required>
   
    <button>LogIn</button>
 </form>