input[type=text], input[type=password], input[type=email]  {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
label{
    font-size: 25px;
}
h1{
    text-align : left; 
    color : rgb(51, 71, 3);
    font-size: 40px; 
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
button {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.container {
  padding: 16px;
}

@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}